---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/RetrieveNearestPlaces/v1.00/json3.ws?Key=<LOQATE_API_KEY>&MaximumItems=1&MaximumRadius=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"CentrePoint Required","Cause":"The
        CentrePoint parameter was not supplied.","Resolution":"Please ensure that
        you supply the CentrePoint parameter and try again."}]}'
  recorded_at: Wed, 12 Dec 2018 19:46:50 GMT
recorded_with: VCR 4.0.0
