---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/EmailValidation/Batch/Validate/v1.20/json3.ws?Emailees=whatevz&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Emails Required","Cause":"No
        email addresses were supplied.","Resolution":"Check that you have betweeon
        1 and 100 emails in the batch and try again."}]}'
  recorded_at: Thu, 21 Jan 2021 15:22:15 GMT
recorded_with: VCR 6.0.0
