---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/CardValidation/Interactive/Validate/v1/json3.ws?CardNumber=404&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"IsValid":false,"CardNumber":"404","CardType":""}]}'
  recorded_at: Mon, 03 Dec 2018 20:21:12 GMT
recorded_with: VCR 4.0.0
