---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/EmailValidation/Interactive/Validate/v2.00/json3.ws?Email=404@404.pl&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"ResponseCode":"Invalid","ResponseMessage":"Email Address
        is not valid","EmailAddress":"404@404.pl","UserAccount":"404","Domain":"404.pl","IsDisposableOrTemporary":false,"IsComplainerOrFraudRisk":false,"Duration":0.009907195}]}'
  recorded_at: Fri, 16 Nov 2018 08:34:56 GMT
recorded_with: VCR 4.0.0
