---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/RetrieveNearestPlaces/v1.00/json3.ws?CentrePoint=149.578567504883&Key=<LOQATE_API_KEY>&MaximumItems=a&MaximumRadius=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1003","Description":"MaximumItems Invalid","Cause":"The
        MaximumItems parameter should be a non-negative integer.","Resolution":"Check
        the MaximumItems and try again."}]}'
  recorded_at: Wed, 12 Dec 2018 20:06:57 GMT
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/RetrieveNearestPlaces/v1.00/json3.ws?CentrePoint=NW10%206RB&Key=<LOQATE_API_KEY>&MaximumItems=1&MaximumRadius=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Location":"College Park, Hammersmith &Fulham, United Kingdom","Distance":0.4,"Latitude":51.5280799865723,"Longitude":-0.235471531748772}]}'
  recorded_at: Wed, 12 Dec 2018 20:07:38 GMT
recorded_with: VCR 4.0.0
