---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Retrieve/v1.00/json3.ws?Countries=GB&Key=<LOQATE_API_KEY>&Texto=NW10%206RB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Id Invalid","Cause":"The Id
        parameter supplied was invalid.","Resolution":"You should only pass in IDs
        that have been returned from the Find service."}]}'
  recorded_at: Fri, 09 Nov 2018 12:28:18 GMT
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Retrieve/v1.00/json3.ws?Id&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Id Invalid","Cause":"The Id
        parameter supplied was invalid.","Resolution":"You should only pass in IDs
        that have been returned from the Find service."}]}'
  recorded_at: Fri, 09 Nov 2018 12:29:17 GMT
recorded_with: VCR 4.0.0
