---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/DistancesAndDirections/Interactive/Directions/v2.00/json3.ws?Finish=68.750934,-47.1674161&Key=<LOQATE_API_KEY>&Start=51.5079532,-0.1266053
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1007","Description":"Route Not Possible","Cause":"It
        was not possible to calculate a route. This is usually because one or more
        of the locations were invalid, too far from the road network or no route exists
        between the locations.","Resolution":"Check all the locations and try again."}]}'
  recorded_at: Mon, 10 Dec 2018 21:17:27 GMT
recorded_with: VCR 4.0.0
