---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/InternationalBankValidation/Interactive/Validate/v1/json3.ws?Iban=wong&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1002","Description":"IBAN Invalid","Cause":"The
        IBAN parameter was not valid.","Resolution":"The IBAN parameter should contain
        only numbers and letters and have a length of at least fifteen characters."}]}'
  recorded_at: Mon, 03 Dec 2018 20:21:14 GMT
recorded_with: VCR 4.0.0
