---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/BankAccountValidation/Interactive/RetrieveBySortcode/v1.00/json3.ws?Key=<LOQATE_API_KEY>&SortCode=404131
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Bank":"HSBC UK BANK PLC","BankBIC":"HBUKGB41","Branch":"Sheffield
        City","BranchBIC":"54D","ContactAddressLine1":"Carmel House","ContactAddressLine2":"49-63
        Fargate","ContactPostTown":"Sheffield","ContactPostcode":"S1 2HD","ContactPhone":"","ContactFax":"","FasterPaymentsSupported":true,"CHAPSSupported":true}]}'
  recorded_at: Mon, 03 Dec 2018 20:21:16 GMT
recorded_with: VCR 4.0.0
