---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/RetrieveNearestPlaces/v1.00/json3.ws?CentrePoint=555&Key=<LOQATE_API_KEY>&MaximumItems=1&MaximumRadius=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1002","Description":"CentrePoint Invalid","Cause":"The
        CentrePoint parameter must contain a postcode or latitude, longitude coordinate
        pair separated by commas, or place (in combination with a country code).","Resolution":"Check
        the coordinates and try again."}]}'
  recorded_at: Wed, 12 Dec 2018 19:52:08 GMT
recorded_with: VCR 4.0.0
