---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/EmailValidation/Batch/Validate/v1.20/json3.ws?Emails=contact@wilsonsilva.net&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Status":"Valid","EmailAddress":"contact@wilsonsilva.net","Account":"contact","Domain":"wilsonsilva.net","IsDisposible":false,"IsSystemMailbox":true}]}'
  recorded_at: Thu, 21 Jan 2021 15:22:15 GMT
recorded_with: VCR 6.0.0
