---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Find/v1.00/json3.ws?Countries=GB&Key=<LOQATE_API_KEY>&Texto=NW10%206RB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Text or Container Required","Cause":"The
        Text or Container parameters were not supplied.","Resolution":"Check they
        were supplied and try again."}]}'
  recorded_at: Sun, 30 Sep 2018 05:33:14 GMT
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Find/v1.00/json3.ws?Countries=GB&Key=<LOQATE_API_KEY>&Texto=NW10%206RB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"2","Description":"Unknown key","Cause":"The key
        you are using to access the service was not found.","Resolution":"Please check
        that the key is correct. It should be in the form AA11-AA11-AA11-AA11."}]}'
  recorded_at: Sun, 30 Sep 2018 05:50:57 GMT
recorded_with: VCR 4.0.0
