---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/EmailValidation/Interactive/Validate/v2.00/json3.ws?Emailee=whatevz&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Email Required","Cause":"The
        Email is required.","Resolution":"Please ensure that you supply a valid Email
        address and try again."}]}'
  recorded_at: Fri, 16 Nov 2018 08:34:56 GMT
recorded_with: VCR 4.0.0
