---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/DistancesAndDirections/Interactive/Directions/v2.00/json3.ws?Finish=donuts,-0.1266825&Key=<LOQATE_API_KEY>&Start=51.5079532,-0.1266053
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1004","Description":"Finish Invalid","Cause":"The
        Finish parameter must be latitude + longitude separated by commas or a postcode
        or an easting, northing coordinate pair separated by commas.","Resolution":"Check
        the parameter and try again."}]}'
  recorded_at: Mon, 10 Dec 2018 21:17:26 GMT
recorded_with: VCR 4.0.0
