---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/EmailValidation/Interactive/Validate/v2.00/json3.ws?Email=wilson.silva@gmail.com&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"ResponseCode":"Valid","ResponseMessage":"Email address
        was fully validated","EmailAddress":"wilson.silva@gmail.com","UserAccount":"wilson.silva","Domain":"gmail.com","IsDisposableOrTemporary":false,"IsComplainerOrFraudRisk":false,"Duration":0.007366261}]}'
  recorded_at: Fri, 16 Nov 2018 08:34:56 GMT
recorded_with: VCR 4.0.0
