---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/DistancesAndDirections/Interactive/Directions/v2.00/json3.ws?Finish=51.5078677,-0.1266825&Key=<LOQATE_API_KEY>&Start=51.5079532,-0.1266053&StartDay=Monday&StartTime=510
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '2'
    body:
      encoding: UTF-8
      string: '{"Items":[{"SegmentNumber":0,"StepNumber":0,"Action":"D","Description":"Leave
        from Strand/A4","Road":"Strand","StepTime":0,"StepDistance":0,"TotalTime":0,"TotalDistance":0},{"SegmentNumber":0,"StepNumber":1,"Action":"A","Description":"You
        have arrived at Strand/A4. Your destination is on the right","Road":"Strand","StepTime":7,"StepDistance":10,"TotalTime":7,"TotalDistance":10}]}'
  recorded_at: Mon, 10 Dec 2018 21:17:29 GMT
recorded_with: VCR 4.0.0
