---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/EmailValidation/Interactive/Validate/v2.00/json3.ws?Email=support@google.com&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"ResponseCode":"Valid_CatchAll","ResponseMessage":"Mail
        is routable to the domain but account could not be validated","EmailAddress":"support@google.com","UserAccount":"support","Domain":"google.com","IsDisposableOrTemporary":false,"Duration":0}]}'
  recorded_at: Thu, 21 Jan 2021 15:22:18 GMT
recorded_with: VCR 6.0.0
