---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/EmailValidation/Interactive/Validate/v2.00/json3.ws?Email=contact@wilsonsilva.net&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"ResponseCode":"Valid_CatchAll","ResponseMessage":"Mail
        is routable to the domain but account could not be validated","EmailAddress":"contact@wilsonsilva.net","UserAccount":"contact","Domain":"wilsonsilva.net","IsDisposableOrTemporary":false,"IsComplainerOrFraudRisk":false,"Duration":0.241566504}]}'
  recorded_at: Fri, 16 Nov 2018 08:34:56 GMT
