---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/DistancesAndDirections/Interactive/Directions/v2.00/json3.ws?Finish=380600,258400&Key=<LOQATE_API_KEY>&Start=381600,259400
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '6'
    body:
      encoding: UTF-8
      string: '{"Items":[{"SegmentNumber":0,"StepNumber":0,"Action":"D","Description":"Leave
        from Moseley Road","Road":"Moseley Road","StepTime":0,"StepDistance":0,"TotalTime":0,"TotalDistance":0},{"SegmentNumber":0,"StepNumber":1,"Action":"R2","Description":"Turn
        right onto Moseley Road","Road":"Moseley Road","StepTime":14,"StepDistance":150,"TotalTime":14,"TotalDistance":150},{"SegmentNumber":0,"StepNumber":2,"Action":"R1","Description":"Bear
        right at A443","Road":"A443","StepTime":82,"StepDistance":1004,"TotalTime":96,"TotalDistance":1154},{"SegmentNumber":0,"StepNumber":3,"Action":"R2","Description":"Turn
        right onto Shoulton Lane","Road":"Shoulton Lane","StepTime":41,"StepDistance":529,"TotalTime":137,"TotalDistance":1683},{"SegmentNumber":0,"StepNumber":4,"Action":"R1","Description":"Bear
        right at Shoulton Lane","Road":"Shoulton Lane","StepTime":18,"StepDistance":55,"TotalTime":155,"TotalDistance":1738},{"SegmentNumber":0,"StepNumber":5,"Action":"A","Description":"You
        have arrived. Your destination is on the left","Road":"[]","StepTime":204,"StepDistance":2214,"TotalTime":359,"TotalDistance":3952}]}'
  recorded_at: Mon, 10 Dec 2018 21:17:30 GMT
recorded_with: VCR 4.0.0
