---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Retrieve/v1.00/json3.ws?Id=GB%7CRM%7CENG%7C6RB-NW10&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Id Invalid","Cause":"The Id
        parameter supplied was invalid.","Resolution":"You should only pass in IDs
        that have been returned from the Find service."}]}'
  recorded_at: Sun, 30 Sep 2018 07:31:59 GMT
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Retrieve/v1.00/json3.ws?Id=GB%7CRM%7CENG%7C6RB-NW10&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"2","Description":"Unknown key","Cause":"The key
        you are using to access the service was not found.","Resolution":"Please check
        that the key is correct. It should be in the form AA11-AA11-AA11-AA11."}]}'
  recorded_at: Sun, 30 Sep 2018 05:50:58 GMT
recorded_with: VCR 4.0.0
