---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/EmailValidation/Batch/Validate/v1.20/json3.ws?Emails=not_an_email,contact@wilsonsilva.net,temp@dispostable.com&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '3'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Status":"Invalid","EmailAddress":"not_an_email","Account":"","Domain":"","IsDisposible":false,"IsSystemMailbox":false},{"Status":"Valid","EmailAddress":"contact@wilsonsilva.net","Account":"contact","Domain":"wilsonsilva.net","IsDisposible":false,"IsSystemMailbox":true},{"Status":"Unknown","EmailAddress":"temp@dispostable.com","Account":"temp","Domain":"dispostable.com","IsDisposible":true,"IsSystemMailbox":false}]}'
  recorded_at: Sat, 17 Nov 2018 11:04:58 GMT
recorded_with: VCR 4.0.0
