---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/RetrieveNearestPlaces/v1.00/json3.ws?CentrePoint=149.578567504883&Key=<LOQATE_API_KEY>&MaximumItems=1&MaximumRadius=10&MaximumTime=a
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Location":"South Bathurst, NSW, Australia","Distance":0,"Latitude":-33.440113067627,"Longitude":149.578567504883}]}'
  recorded_at: Wed, 12 Dec 2018 19:53:47 GMT
recorded_with: VCR 4.0.0
