---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/RetrieveNearestPlaces/v1.00/json3.ws?CentrePoint=South%20Bathurst&Key=<LOQATE_API_KEY>&MaximumItems=1&MaximumRadius=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1009","Description":"Country Required For Place","Cause":"To
        use a place for the centre point a country must be provided.","Resolution":"Enter
        the ISO3 country code corresponding to the place you wish to use for the centrepoint."}]}'
  recorded_at: Wed, 12 Dec 2018 20:02:52 GMT
recorded_with: VCR 4.0.0
