---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Find/v1.00/json3.ws?Key=<LOQATE_API_KEY>&Ountries=GB&Text=NW10%206RB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Id":"GB|RM|ENG|6RB-NW10","Type":"Postcode","Text":"NW10
        6RB","Highlight":"0-4,5-8","Description":"Scrubs Lane, London - 18 Addresses"}]}'
  recorded_at: Sun, 29 Sep 2018 18:10:48 GMT
recorded_with: VCR 4.0.0
