---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/BankAccountValidation/Interactive/Validate/v2/json3.ws?AccountNumber=00000000&Key=<LOQATE_API_KEY>&SortCode=000000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"IsCorrect":false,"IsDirectDebitCapable":false,"StatusInformation":"UnknownSortCode","CorrectedSortCode":"","CorrectedAccountNumber":"","IBAN":"","Bank":"","BankBIC":"","Branch":"","BranchBIC":"","ContactAddressLine1":"","ContactAddressLine2":"","ContactPostTown":"","ContactPostcode":"","ContactPhone":"","ContactFax":"","FasterPaymentsSupported":false,"CHAPSSupported":false}]}'
  recorded_at: Mon, 03 Dec 2018 20:21:10 GMT
recorded_with: VCR 4.0.0
