---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/Geocode/v1.10/json3.ws?Country=US&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1003","Description":"Location Required","Cause":"No
        Location data was supplied but one is needed.","Resolution":"Please ensure
        that you supply a location and try again."}]}'
  recorded_at: Tue, 11 Dec 2018 20:20:37 GMT
recorded_with: VCR 4.0.0
