---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/PhoneNumberValidation/Interactive/Validate/v2.20/json3.ws?Country=GB&Key=<LOQATE_API_KEY>&Phone=448451234567
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"PhoneNumber":"+448451234567","RequestProcessed":true,"IsValid":"Yes","NetworkCode":"","NetworkName":"Affiniti
        Integrated Solutions","NetworkCountry":"GB","NationalFormat":"0845 123 4567","CountryPrefix":44,"NumberType":"VOIP"}]}'
  recorded_at: Wed, 08 Jun 2022 10:01:53 GMT
recorded_with: VCR 6.1.0
