---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/DistancesAndDirections/Interactive/Directions/v2.00/json3.ws?Finish=EC1A%204ER&Key=<LOQATE_API_KEY>&Start=EC1A%204JA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '7'
    body:
      encoding: UTF-8
      string: '{"Items":[{"SegmentNumber":0,"StepNumber":0,"Action":"D","Description":"Leave
        from Aldersgate Street/A1","Road":"Aldersgate Street","StepTime":0,"StepDistance":0,"TotalTime":0,"TotalDistance":0},{"SegmentNumber":0,"StepNumber":1,"Action":"L2","Description":"Turn
        left onto Glasshouse Yard","Road":"Glasshouse Yard","StepTime":16,"StepDistance":142,"TotalTime":16,"TotalDistance":142},{"SegmentNumber":0,"StepNumber":2,"Action":"R2","Description":"Turn
        right onto Glasshouse Yard","Road":"Glasshouse Yard","StepTime":19,"StepDistance":33,"TotalTime":35,"TotalDistance":175},{"SegmentNumber":0,"StepNumber":3,"Action":"R2","Description":"Turn
        right onto Goswell Road/A1","Road":"Goswell Road","StepTime":48,"StepDistance":107,"TotalTime":83,"TotalDistance":282},{"SegmentNumber":0,"StepNumber":4,"Action":"E2S","Description":"At
        the roundabout take the second exit onto Aldersgate Street/A40/A1","Road":"Aldersgate
        Street","StepTime":81,"StepDistance":486,"TotalTime":164,"TotalDistance":768},{"SegmentNumber":0,"StepNumber":5,"Action":"L2","Description":"Turn
        left onto Gresham Street","Road":"Gresham Street","StepTime":21,"StepDistance":195,"TotalTime":185,"TotalDistance":963},{"SegmentNumber":0,"StepNumber":6,"Action":"A","Description":"You
        have arrived at Gresham Street. Your destination is on the left","Road":"Gresham
        Street","StepTime":12,"StepDistance":20,"TotalTime":197,"TotalDistance":983}]}'
  recorded_at: Mon, 10 Dec 2018 21:17:28 GMT
recorded_with: VCR 4.0.0
