---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/DistancesAndDirections/Interactive/Directions/v2.00/json3.ws?Finish=51.5078677,-0.1266825&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Start Required","Cause":"The
        Start parameter was not supplied.","Resolution":"Please ensure that you supply
        the Start parameter and try again."}]}'
  recorded_at: Tue, 11 Dec 2018 19:42:35 GMT
recorded_with: VCR 4.0.0
