---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/PhoneNumberValidation/Interactive/Validate/v2.20/json3.ws?Country=GB&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Number Required","Cause":"The
        phone numbers is required.","Resolution":"Please ensure that you supply a
        phone number and try again."}]}'
  recorded_at: Mon, 12 Nov 2018 21:48:41 GMT
recorded_with: VCR 4.0.0
