---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/Geocode/v1.10/json3.ws?Country=LOL&Key=<LOQATE_API_KEY>&Location=90210
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1002","Description":"Country Unknown","Cause":"The
        Country parameter was not recognised. Check the spelling and, if in doubt,
        use a valid ISO 2 or 3 digit country code.","Resolution":"Provide a valid
        ISO 2 or 3 digit country code or use a web service to convert country name
        to ISO code."}]}'
  recorded_at: Tue, 11 Dec 2018 20:18:40 GMT
recorded_with: VCR 4.0.0
