---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/BankAccountValidation/Batch/Validate/v1/json3.ws?Key=<LOQATE_API_KEY>&SortCodes=083210
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1002","Description":"AccountNumbers Required","Cause":"At
        least 1 AccountNumber parameter is required.","Resolution":"Please ensure
        that you supply at least 1 AccountNumber parameter and try again."}]}'
  recorded_at: Mon, 03 Dec 2018 20:21:07 GMT
recorded_with: VCR 4.0.0
