---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/PositionToCountry/v1.00/json3.ws?Key=<LOQATE_API_KEY>&Latitude=555&Longitude=555
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1001","Description":"Location Invalid","Cause":"The
        Latitude or Longitude parameters are invalid.","Resolution":"Check the coordinates
        and try again."}]}'
  recorded_at: Tue, 11 Dec 2018 22:09:27 GMT
recorded_with: VCR 4.0.0
