---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/DistancesAndDirections/Interactive/Directions/v2.00/json3.ws?Finish=51.5078677,-0.1266825&Key=<LOQATE_API_KEY>&Start=51.5079532,-0.1266053&StartDay=Monday&StartTime=donuts
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1009","Description":"StartTime invalid","Cause":"The
        StartTime parameter was incorrect.","Resolution":"Ensure the StartTime parameter
        is an integer between 0 and 1439."}]}'
  recorded_at: Mon, 10 Dec 2018 21:17:27 GMT
recorded_with: VCR 4.0.0
