---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/PositionToCountry/v1.00/json3.ws?Key=<LOQATE_API_KEY>&Latitude=52.1321&Longitude=-2.1001
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"CountryName":"United Kingdom","CountryIso2":"GBR","CountryIso3":"GB","CountryIsoNumber":826}]}'
  recorded_at: Tue, 11 Dec 2018 22:03:31 GMT
recorded_with: VCR 4.0.0
