---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/PhoneNumberValidation/Interactive/Validate/v2.20/json3.ws?Country=GB&Key=<LOQATE_API_KEY>&Phone=447440029210
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"PhoneNumber":"+447440029210","RequestProcessed":true,"IsValid":"Yes","NetworkCode":"26","NetworkName":"Telefonica
        UK","NetworkCountry":"GB","NationalFormat":"07440 029210","CountryPrefix":44,"NumberType":"Mobile"}]}'
  recorded_at: Mon, 12 Nov 2018 21:48:42 GMT
recorded_with: VCR 4.0.0
