---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/BankAccountValidation/Batch/Validate/v1/json3.ws?AccountNumbers=12001020&Key=<LOQATE_API_KEY>&SortCodes=083210
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '2'
    body:
      encoding: UTF-8
      string: '{"Items":[{"OriginalAccountNumber":"51065718","OriginalSortCode":"404131","IsCorrect":true,"IsDirectDebitCapable":true,"StatusInformation":"OK","CorrectedSortCode":"404131","CorrectedAccountNumber":"51065718","IBAN":"GB67HBUK40413151065718","Bank":"HSBC
        UK BANK PLC","BankBIC":"HBUKGB41","Branch":"Sheffield City","BranchBIC":"54D","ContactAddressLine1":"Carmel
        House","ContactAddressLine2":"49-63 Fargate","ContactPostTown":"Sheffield","ContactPostcode":"S1
        2HD","ContactPhone":"","ContactFax":""},{"OriginalAccountNumber":"12001020","OriginalSortCode":"083210","IsCorrect":true,"IsDirectDebitCapable":false,"StatusInformation":"CautiousOK","CorrectedSortCode":"083210","CorrectedAccountNumber":"12001020","IBAN":"","Bank":"GOVERNMENT
        BANKING","BankBIC":"","Branch":"Hmrc Direct Taxes","BranchBIC":"","ContactAddressLine1":"","ContactAddressLine2":"","ContactPostTown":"","ContactPostcode":"","ContactPhone":"","ContactFax":""}]}'
  recorded_at: Mon, 03 Dec 2018 20:21:07 GMT
recorded_with: VCR 4.0.0
