---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Geocoding/International/RetrieveNearestPlaces/v1.00/json3.ws?CentrePoint=149.578567504883&Country=LOL&Key=<LOQATE_API_KEY>&MaximumItems=1&MaximumRadius=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"1008","Description":"Country Unknown","Cause":"The
        Country parameter was not recognised. Check the spelling and, if in doubt,
        use a valid ISO 2 or 3 digit country code.","Resolution":"Provide a valid
        ISO 2 or 3 digit country code or use a web service to convert country name
        to ISO code."}]}'
  recorded_at: Wed, 12 Dec 2018 19:58:26 GMT
recorded_with: VCR 4.0.0
