---
http_interactions:
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Retrieve/v1.00/json3.ws?Id=GB%7CRM%7CB%7C52509479&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Id":"GB|RM|B|52509479","DomesticId":"52509479","Language":"ENG","LanguageAlternatives":"ENG","Department":"","Company":"G
        B G Loqate","SubBuilding":"","BuildingNumber":"","BuildingName":"Waterside","SecondaryStreet":"","Street":"Basin
        Road","Block":"","Neighbourhood":"","District":"","City":"Worcester","Line1":"Waterside","Line2":"Basin
        Road","Line3":"","Line4":"","Line5":"","AdminAreaName":"Worcestershire","AdminAreaCode":"","Province":"Worcestershire","ProvinceName":"Worcestershire","ProvinceCode":"","PostalCode":"WR5
        3DA","CountryName":"United Kingdom","CountryIso2":"GB","CountryIso3":"GBR","CountryIsoNumber":826,"SortingNumber1":"94142","SortingNumber2":"","Barcode":"(WR53DA1PX)","POBoxNumber":"","Label":"G
        B G Loqate\nWaterside\nBasin Road\nWORCESTER\nWR5 3DA\nUNITED KINGDOM","Type":"Commercial","DataLevel":"Premise","Field1":"","Field2":"","Field3":"","Field4":"","Field5":"","Field6":"","Field7":"","Field8":"","Field9":"","Field10":"","Field11":"","Field12":"","Field13":"","Field14":"","Field15":"","Field16":"","Field17":"","Field18":"","Field19":"","Field20":""}]}'
  recorded_at: Sun, 30 Sep 2018 07:36:15 GMT
- request:
    method: get
    uri: https://api.addressy.com/Capture/Interactive/Retrieve/v1.00/json3.ws?Id=GB%7CRM%7CB%7C52509479&Key=<LOQATE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Records:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Items":[{"Error":"2","Description":"Unknown key","Cause":"The key
        you are using to access the service was not found.","Resolution":"Please check
        that the key is correct. It should be in the form AA11-AA11-AA11-AA11."}]}'
  recorded_at: Sun, 30 Sep 2018 05:50:58 GMT
recorded_with: VCR 4.0.0
